
TestData/
__pycache__/*.pyc
Redrawn_Plots/
Redrawn_Plots_Curve/
Throwaway_Scripts/
FunkyData/
Funkybarn/
/test_report_writing.py
Reports/
RawFantasyData/
Models/
Delete/
Flat40vTrained40/
Analysis/
Flat40_Tforms/
Bred40_Tforms/
PlottingTestData/
Formatted_MNIST_Data/
MNIST_testing/
